.cart-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35px 0 200px;
}

.cart-page .cart-block {
  width: 700px;
  position: relative;
}

.cart-page .cart-block .cart-items {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-page .cart-block .cart-items .cart__item {
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.cart-page .cart-block .cart-items .cart__item .cart__item-image {
  width: 180px;
  height: 200px;
  overflow: hidden;
  margin-right: 35px;
}

.cart-page .cart-block .cart-items .cart__item .cart__item-image img {
  width: 100%;
}

.cart-page .cart-block .cart-items .cart__item .item__subtitle {
  margin: 5px 0 20px;
  width: 320px;
}

.cart-page .cart-block .cart-items .cart__item .size, .cart-page .cart-block .cart-items .cart__item .quality {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-page .cart-block .cart-items .cart__item .size strong, .cart-page .cart-block .cart-items .cart__item .quality strong {
  padding-left: 5px;
}

.cart-page .cart-block .cart-items .cart__item .size .quality__button, .cart-page .cart-block .cart-items .cart__item .quality .quality__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18px;
  height: 18px;
  margin: 0 10px;
}

.cart-page .cart-block .cart-items .cart__item .price {
  position: absolute;
  top: 0;
  right: 0;
}

.cart-page .cart-block .cart-items .cart__item .item-buttons {
  position: absolute;
  bottom: 60px;
  right: 0;
}

.cart-page .cart-block .cart-items .cart__item .item-buttons .add-to-trash__button,
.cart-page .cart-block .cart-items .cart__item .item-buttons .add-to-favs__button {
  width: 40px;
  height: 40px;
}

.cart-page .cart-block .shipping-checkbox {
  position: absolute;
  top: 12px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-page .cart-block .shipping-checkbox .shipping__checkbox {
  z-index: -1;
  opacity: 0;
}

.cart-page .cart-block .shipping-checkbox label::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  margin: 0 0 -2px 20px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.cart-page .cart-block .shipping-checkbox .shipping__checkbox:checked + label::after {
  background-color: #000;
  background-image: url("../../../images/checked.svg");
  background-size: 90% auto;
  background-repeat: no-repeat;
  background-position: center;
}

.cart-page .summary-block {
  width: 360px;
}

.cart-page .summary-block .summary__title {
  margin-bottom: 27px;
}

.cart-page .summary-block .subtotal, .cart-page .summary-block .shipping, .cart-page .summary-block .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.cart-page .summary-block .total {
  margin: 30px 0 20px;
}

.cart-page .summary-block .checkout__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #000;
  width: 100%;
  height: 60px;
  padding: 0 30%;
  border-radius: 30px;
}

.cart-page .empty-cart .empty-cart__image {
  width: 100px;
}

.cart-page .cart__title {
  font-family: uni sans;
  font-weight: 900;
  font-size: 48px;
}

.cart-page .item__title {
  font-family: uni sans;
  font-weight: 900;
  font-size: 26px;
}

.cart-page .item__subtitle {
  font-family: archivoregular;
  font-size: 22px;
}

.cart-page .size,
.cart-page .quality {
  font-family: archivoregular;
  font-size: 18px;
}

.cart-page .size strong,
.cart-page .quality strong {
  font-weight: normal;
}

.cart-page .price {
  font-family: archivomedium;
  font-size: 22px;
}

.cart-page .summary-block .summary__title {
  font-family: uni sans;
  font-weight: 900;
  font-size: 36px;
}

.cart-page .summary-block .subtotal,
.cart-page .summary-block .shipping {
  font-family: archivoregular;
  font-size: 22px;
}

.cart-page .summary-block .subtotal .price,
.cart-page .summary-block .shipping .price {
  font-family: archivomedium;
}

.cart-page .summary-block .total {
  font-family: archivoregular;
  font-size: 36px;
}

.cart-page .summary-block .total .price {
  font-family: archivobold;
  font-size: 36px;
}

.cart-page .summary-block .checkout__button {
  font-family: archivobold;
  font-size: 20px;
  color: #fff;
}

.cart-page .shipping-checkbox label {
  font-family: archivobold;
  font-size: 24px;
}

.cart-page .empty-cart__title {
  font-family: uni sans;
  font-weight: 900;
  font-size: 36px;
}

@media screen and (max-width: 1279px) {
  .cart-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cart-page .cart-block {
    width: 100%;
  }
  .cart-page .cart-block .cart-items {
    margin-top: 13px;
  }
  .cart-page .cart-block .cart-items .cart__item {
    width: 100%;
    height: 170px;
    margin-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .cart-page .cart-block .cart-items .cart__item .cart__item-image {
    width: 150px;
    height: 170px;
    margin-right: 15px;
  }
  .cart-page .cart-block .cart-items .cart__item .item__subtitle {
    margin: 0 0 20px;
    width: 140px;
  }
  .cart-page .cart-block .cart-items .cart__item .size, .cart-page .cart-block .cart-items .cart__item .quality {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cart-page .cart-block .cart-items .cart__item .size strong, .cart-page .cart-block .cart-items .cart__item .quality strong {
    padding: 0 5px 0 0;
  }
  .cart-page .cart-block .cart-items .cart__item .size .quality__button, .cart-page .cart-block .cart-items .cart__item .quality .quality__button {
    position: absolute;
    bottom: 40px;
    width: 30px;
    height: 30px;
    margin: 0 5px;
  }
  .cart-page .cart-block .cart-items .cart__item .size .quality__button:last-child, .cart-page .cart-block .cart-items .cart__item .quality .quality__button:last-child {
    margin-left: 40px;
  }
  .cart-page .cart-block .cart-items .cart__item .price {
    top: auto;
    bottom: 10px;
    right: auto;
    left: 165px;
  }
  .cart-page .cart-block .cart-items .cart__item .item-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    bottom: 0;
    right: 0;
  }
  .cart-page .cart-block .shipping-checkbox {
    top: 4px;
    right: 0;
  }
  .cart-page .summary-block {
    padding-top: 120px;
    width: 100%;
  }
  .cart-page .cart__title {
    font-size: 24px;
  }
  .cart-page .item__title {
    font-size: 18px;
  }
  .cart-page .item__subtitle,
  .cart-page .size,
  .cart-page .quality {
    font-size: 14px;
  }
  .cart-page .price {
    font-size: 18px;
  }
  .cart-page .summary-block .summary__title {
    font-size: 24px;
  }
  .cart-page .summary-block .subtotal,
  .cart-page .summary-block .shipping {
    font-size: 18px;
  }
  .cart-page .summary-block .total {
    font-size: 24px;
  }
  .cart-page .summary-block .total .price {
    font-size: 24px;
  }
  .cart-page .shipping-checkbox label {
    font-size: 18px;
  }
}
