footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
  height: 280px;
  padding: 70px 0 10px;
  background: url(../images/code.svg);
}

footer .footer-block {
  padding: 30px 0 20px;
  background: #000;
  height: 100%;
}

footer .footer-block .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

footer .footer-block .container .footer-top, footer .footer-block .container .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-block .container .footer-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .footer-block .container .footer-top .footer-navbar {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-block .container .footer-top .footer__info {
  width: 600px;
}

footer .footer-block .container .footer-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer .footer-block .container .footer-bottom .social {
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-navbar__buttons {
  font-family: archivobold;
  color: #fff;
  font-size: 24px;
  letter-spacing: -0.03em;
}

.footer__info {
  font-family: Uni Sans;
  text-align: right;
  font-weight: 900;
  font-size: 28px;
  color: #fff;
}

.copyright {
  font-family: archivoregular;
  color: #fff;
  font-size: 20px;
}

@media screen and (max-width: 1279px) {
  .footer__info {
    font-size: 18px;
    text-align: left;
  }
  .copyright {
    font-size: 12px;
  }
  footer {
    height: 390px;
    padding: 35px 0 10px;
  }
  footer .footer-block {
    padding: 30px 0;
  }
  footer .footer-block .container .footer-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-block .container .footer-top .footer-navbar {
    width: 100%;
  }
  footer .footer-block .container .footer-top .footer__info {
    margin-top: 50px;
    width: 80%;
  }
}
