header {
  padding: 20px 0 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

header .navbar {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .navbar .search {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navbar .search .search__input {
  width: 90%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 40px;
  padding-left: 30px;
  border-radius: 40px;
}

header .navbar .search .search__button {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

header .navbar .navbar-buttons .navbar__button {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

.logo__text {
  font-family: archivobold;
  font-size: 30px;
  line-height: 68%;
  letter-spacing: -0.075em;
}

.search__input {
  font-family: archivoregular;
  font-size: 16px;
}

.search__input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search__input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search__input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1279px) {
  header {
    padding: 20px 0 10px;
  }
  header .logo img {
    height: 24px;
  }
  header .navbar {
    width: auto;
  }
  header .navbar .navbar-buttons .navbar__button {
    height: 24px;
    margin: 0 5px;
  }
  .logo__text {
    font-size: 18px;
  }
}
